<!doctype html>
<html lang="en">
{% include "/Snippets/head.html" %}

  <body class="text-center bg-dark">
{%include "/Snippets/header.html" %}
  
  
   

        <div class="container" style="margin-top: 50px;">
          <div class="row">
            <div class="col-12">
              <div class="alert alert-light" role="alert">
               --------> OoooooooooPs page do not found <------
              </div>
            </div>
          </div>
        </div>




{%include "/Snippets/script.html" %}
  </body>
{%include "/Snippets/footer.html" %}
</html>
