<!doctype html>
<html lang="en">
  <head>
    <title>Modifica Descrizione</title>

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/customized.css">

  </head>

  <body class="text-center bg-dark">
    <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('home') }}">gecoint</a>          
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container col-4 my-6">
      <form method="POST" action="">
         <h1 class="h3 mb-3 font-weight-normal" style="color: white">Digita la nuova descrizione:</h1>
            {{ form.hidden_tag() }}
              
                <div class="container col-6">
                  <div class="form-group">                 
                    {{ form.descrizione(class="textarea")}}                   
                  </div>   
                </div>
              
              <div class="row text-center">
                <div class="col-3"></div>
                <a class="btn btn-light" href="{{ url_for('home')}}">Annulla</a>
                <div class="col-2"></div>
                <div class="form-group">                  
                  {{ form.conferma(class="btn btn-success") }}
                </div>
                
              </div>                
      </form>
              
    </div>
  </body>
</html>