<!doctype html>
<html lang="en">
  
  {% include "/Snippets/head.html" %}
  <body class="bg-dark">
  
  {% include "/Snippets/header.html" %}
    
<div class="container">

</div>

    <div class="row mt-5">
      <div class="col-2"></div> <!-- Per centrare la tabella -->
      <div class="col-3" style="color: lightblue">
        <p style="font-size: 18px"><strong> Età media degli utenti: </strong> 
          <small style="color: white; font-size: 18px"> {{ etamed }} anni </small></p>
      </div>
    </div>


 {%include "/Snippets/script.html" %}
</body>
{%include "/Snippets/footer.html" %}
</html>